@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 10px;
}

form {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 600px;
    padding: 10px;
}

fomr>div {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.corpo {
    background-image: linear-gradient(to right bottom, #eaf2e6, #b1c3a9, #7a966f, #456b39, #0a4204);
    background-size: cover;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: gentium;
    color: #FFF;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 700;
}

.botao {
    align-items: center;
}

textarea {
    vertical-align: text-top;
    width: 500px;
    height: 200px;
    font-weight: bold;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

input[type=number],
input[type=email] {
    width: 300px;
}

input[type=nome] {
    width: 400px;
}

#header {
    display: flex;
    color: #DE3126;
    font-weight: bold;
    background-image: linear-gradient(to left, #08bd08f5 62%, #99ffcc 100%);
}

#logo {
    margin-left: 0%;
    display: inline-flexbox;
    border-radius: 10px;
    width: 110px;
}

#nav-h {
    margin: auto;
    display: inline;
    list-style: none;
}

#nav-h ul li {
    display: inline;
}

#nav-h ul li a {
    display: inline-block;
    padding: 10px;
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
}

#nav-h ul li a:hover {
    background-color: #0c1beb75;
    color: black;
    font-weight: bold;
    transition: background .5s;
}

.botao a {
    border-color: #46a7f5;
    background: linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
    box-shadow: inset 0px 1px 0px 0px #d7ecfd;
    color: #fff;
    text-shadow: 0px 1px 0px #528009;
}

.botao a:hover {
    background: linear-gradient(to bottom, #46a7f5 5%, #86c6f8 100%);
}